@use "variables" as variables;

:host {
  height: 100%;
  display: flex;
}

nav {
  flex: 1;
  padding: variables.$spacing-md;

  // mat-list-item {
  //   height: 2rem;
  //   padding: 0;
  //   margin: 0.125rem -#{variables.$spacing-md};
  // }
}
